

.card {
  padding: 10px;
  width: 300px;
  background-color:#fff;
  height: fit-content;
  position: relative;
  margin-bottom: 15px;
}

.card > *:not(:last-child) {
  margin-bottom: 10px;
}
.card-more {
  margin-top: 20px;
  display: none;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card-more-change {
  margin-top: 10px;
}

.visit-list {
  display: flex;
  flex-wrap: wrap;
}

.remove-card-button {
  background: none;
  border: none;
  position: absolute;
  right: 2px;
}
.card-button__change {
  margin-top: 5px;
}
.remove-card-button:hover {
  cursor: pointer;
  color: red;
}

.doctor-card {
  display: block;
}
