.doctor {
  display: none;
}

.visit-modal {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  width: 500px;
  height: auto;
  margin: 0 auto;
  &__data {
    display: none;
  }
  &__container {
    padding: 30px 0;
    margin: 0 auto;
    width: 400px;
  }
  &__container > *:not(:last-child) {
    margin-bottom: 10px;
  }
  }

p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.create {
  border: none;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  background-color: #3b5998;
  font-size: 30px;
  text-decoration: none;
}
.create:hover {
  background-color: #000;
}
.active {
  display: block;
}

