.header {
    background-color: #3b5998;
    position: relative;
}
    .header-nav
    {
        &__menu {
            padding: 20px 20px;
            display: flex;
            justify-content: space-between;
        }
        .btn {
            color: #fff;
            font-size: 30px;
            text-decoration: none;
        }
        &__menu-login:hover {
            color: #000;
        }
        &__menu-visit {
            display: none;
        }
    }


