


<div class="card">

    <p>ФИО</p>
    <div class="card-name">dd</div>
    <p>Доктор</p>
    <div class="card-doctor">dd</div>
    <hr>
    <button class="card-button">Показать больше</button>

    <div class="card-more">
        <div class="card-more__wrapper"></div>
        <button class="card-button__change">Редактировать</button>
    </div>
</div>

