
<div class="search-form">
    <h3>Поиск карточки</h3>
    <ul class="search-items">
        <li class="search-items__item">
            <span>Поиск по заголовку/содержимому визита</span>
            <input class="search-items__item-input" type="text">
        </li>
        <li class="search-items__item">
            <span>Статус</span>
            <select name="search-item__status" id="status">
                <option value> -- Выбрать -- </option>
                <option value="Open">Open</option>
                <option value="Done">Done</option>
            </select>
        </li>
        <li class="search-items__item">
            <span>Срочность визита</span>
            <select name="search-item_rank" id="rank">
                <option value> -- Выбрать -- </option>
                <option value="prioritised">Приоритетная</option>
                <option value="regular">Обычная</option>
                <option value="urgent">Срочная</option>
            </select>
        </li>
    </ul>
</div>

