<form class="login-form" method="post">
    <h3>Вход</h3>
    <input class="mail" type="email" placeholder="почтовый@адрес.ком" required/>
    <input class="password" type="password" placeholder="пароль" required/>
    <button class="login-btn" type="button">Войти</button>
</form>